{% extends "adminapp/base.html" %}

{% block extra_title %} Bookings {% endblock %}

{% block content %}
  <h1>Bookings</h1>
  <a href="{% url 'adminapp:booking_new' %}" class="btn btn-primary mb-3">Add New Booking</a>

  {% if bookings %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Guests</th>
          <th scope="col">Your Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
          <tr>
            <th scope="row">{{ booking.id }}</th>
            <td>{{ booking.date }}</td>
            <td>{{ booking.time }}</td>
            <td>{{ booking.guests }}</td>
            <td>{{ booking.your_name }}</td>
            <td>{{ booking.email }}</td>
            <td>
              <a href="{% url 'adminapp:booking_edit' booking.pk %}" class="btn btn-warning">
                <i class="fas fa-edit"></i> Edit
              </a>
              <a href="{% url 'adminapp:booking_delete' booking.pk %}" class="btn btn-danger">
                <i class="fas fa-trash"></i> Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if bookings.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ bookings.previous_page_number }}">Previous</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">Previous</a></li>
        {% endif %}
        {% if bookings.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ bookings.next_page_number }}">Next</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  {% else %}
    <p>No bookings available.</p>
  {% endif %}
{% endblock %}