{% extends "adminapp/base.html" %}

{% block title %} Bookings {% endblock %}

{% block content %}
  <h1 class="header-spacing">Bookings</h1>
  <a href="{% url 'adminapp:booking_new' %}" class="btn btn-primary mb-3">Add New Booking</a>

  {% if bookings %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Guests</th>
          <th scope="col">Your Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
        <tr class="responsive-table-row">
          <th scope="row" class="responsive-table-cell" data-label="#">{{ booking.id }}</th>
          <td class="responsive-table-cell" data-label="Date">{{ booking.date }}</td>
          <td class="responsive-table-cell" data-label="Time">{{ booking.time }}</td>
          <td class="responsive-table-cell" data-label="Guests">{{ booking.guests }}</td>
          <td class="responsive-table-cell" data-label="Your Name">{{ booking.your_name }}</td>
          <td class="responsive-table-cell" data-label="Email">{{ booking.email }}</td>
          <td class="responsive-table-cell" data-label="Actions">
            <a href="{% url 'adminapp:booking_edit' booking.pk %}" class="btn btn-warning">
              <i class="fas fa-edit"></i> Edit
            </a>
            <a href="{% url 'adminapp:booking_delete' booking.pk %}" class="btn btn-danger">
              <i class="fas fa-trash"></i> Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if bookings.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ bookings.previous_page_number }}">Previous</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">Previous</a></li>
        {% endif %}
        {% if bookings.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ bookings.next_page_number }}">Next</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  {% else %}
    <p>No bookings available.</p>
  {% endif %}
{% endblock %}