{% extends "adminapp/base.html" %}
{% block title %} Edit Table {% endblock %}
{% load widget_tweaks %}
{% block content %}
<h1 class="text-center extra-space-for-h1">Edit Table</h1>
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto"> <!-- Form will take half of large screens, 2/3 of medium screens, and is centered -->
      <form method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group mb-3"> 
            <label class="font-weight-bold" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary float-left mr-2">Save Changes</button>
        <a class="btn btn-secondary float-left" href="{% url 'adminapp:table_list' %}">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
