.navbar.navbar-light.bg-light {
    position: relative;
    z-index: 2;
    background-color: #000;
}

.navbar .nav-link, .navbar .navbar-brand {
    color: #fff;
}

#sidebarMenu {
    position: relative;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    height: 100vh;
    z-index: 1;
    background-color: #000;
}

#sidebarMenu .nav-link {
    color: #fff
}

/* fixed height for images in menu list page */

.fixed-height {
    height: 200px;  /* Adjust as needed */
    width: 100%;  /* Adjust as needed */
    object-fit: cover; /* Ensures that aspect ratio is maintained */
}
  