/* Import Google font 'Great Vibes' */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Body styles to make footer stick to the bottom of the viewport */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Styles for profile title with custom font, size, color, and margins */
.profile-title {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: #7a3b2e; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

/* Flex styles for content to center it */
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

/* Push footer to the bottom */
.footer {
    margin-top: auto;
}
  
/* Reservation form styles */

/* Centered div with shadow and width restrictions */
.center-div {
    margin-top: 2rem;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100%;
    max-width: 600px;
}

/* Minimum height for message element */
#message {
    min-height: 20px;
}

/* Gallery styles */

/* Top margin for gallery */
.gallery-top {
    margin-top: 4rem;
}

/* Fixed height and width for images, with object-fit to maintain aspect ratio */
.img-fluid {
    height: 25rem;
    width: 32rem;
    object-fit: cover; 
}

/* Color and decoration for links in thumbnail */
.thumbnail a {
    color: #333; 
    text-decoration: none; 
}

/* Color for links in thumbnail on hover */
.thumbnail a:hover {
    color: #777; 
}

/* Media queries to adjust width of .center-div based on viewport size */
@media (min-width: 576px) {
    .center-div {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .center-div {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .center-div {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .center-div {
        width: 50%;
    }
}
