/* make the footer stick to the bottom of the viewport */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
  
.footer {
    /* height: 3rem; */
    margin-top: auto;
}
  
/* reservation form rules */
  
.center-div {
    margin-top: 2rem;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100%;
}

#message {
    min-height: 20px;
}

@media (min-width: 576px) {
    .center-div {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .center-div {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .center-div {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .center-div {
        width: 50%;
    }
}
