{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Reservation
{% endblock title %}
{% block content %}
<div class="center-div">
    <h2>{% if edit_mode %}Edit Your Booking{% else %}Make a Reservation{% endif %}</h2>
    <p>Please fill out all the fields in the form. 
        Be sure to select a time and table that is available. 
        Time slots are available every half hour and each booking lasts for 2 hours. 
        Thank you for choosing our restaurant!</p>
    <form method="post" class="form">
        {% csrf_token %}
        <fieldset>
            <legend>Contact Information</legend>
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.name != "tables" %}
                        {{ field|add_class:"form-control" }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
        <p id="message"></p>
        <input type="submit" value="Submit" class="btn btn-primary" id="submitButton">
        <div id="feedback"></div>
    </form>
</div>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/new_styles.css' %}">
{% endblock %}
