{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Reservation
{% endblock title %}
{% block content %}
<div class="center-div">
    <h2>{% if edit_mode %}Edit Your Booking{% else %}Make a Reservation{% endif %}</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.name != "tables" %}
                {{ field|add_class:"form-control" }}
            {% else %}
                {{ field }}
            {% endif %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/new_styles.css' %}">
{% endblock %}
