{% extends "base.html" %}
{% load static %}
{% block title %}
Gallery
{% endblock title %}
{% block content %}

<!-- Gallery code goes here -->

<!-- Place the Bootstrap gallery code here -->
<div class="container container gallery-top">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/chef-kitchen_egv0ij" data-lightbox="image-1">
                    <img src="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/chef-kitchen_egv0ij" alt="Lights" class="img-fluid rounded">
                    <div class="caption">
                        <p>A DeAngelo's Chef, hard at work</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/restaurant-scene_iiofcw" data-lightbox="image-1">
                    <img src="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/restaurant-scene_iiofcw" alt="Nature" class="img-fluid rounded">
                    <div class="caption">
                        <p>Interior of DeAngelo's</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/italian-countryside_ni06vu" data-lightbox="image-1">
                    <img src="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/italian-countryside_ni06vu" alt="Fjords" class="img-fluid rounded">
                    <div class="caption">
                        <p>Italian Countryside</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/rest-4-small_iea8bg" data-lightbox="image-1">
                    <img src="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/rest-4-small_iea8bg" alt="Lights" class="img-fluid rounded">
                    <div class="caption">
                        <p>A table at DeAngelo's</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/td76sfalri7c9h8z1770" data-lightbox="image-1">
                    <img src="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/td76sfalri7c9h8z1770" alt="Nature" class="img-fluid rounded">
                    <div class="caption">
                        <p>Delicious DeAngelo's Pizza</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/ingrediants_g5ty3o" data-lightbox="image-1">
                    <img src="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/ingrediants_g5ty3o" alt="Fjords" class="img-fluid rounded">
                    <div class="caption">
                        <p>Nothing but the freshest ingrediants</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/new_styles.css' %}">
{% endblock %}