{% extends 'base.html' %}
{% block title %}
Menu
{% endblock title %}
{% block content %}
<div class="container">
    <h2 class="menu-title text-center mt-5">Menu</h2>

    <h2 class="menu-title mt-4">Starters</h2>
    <div class="row card-container">
        {% for item in starters %}
        <div class="col-md-6 mb-4">
            <div class="card">
                {% if item.image.url %}
                <img class="card-img-top img-fluid menu-item-image" src="{{ item.image.url }}" alt="{{ item.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <h4 class="card-price">€{{ item.price }}</h4>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No starters available.</p>
        {% endfor %}
    </div>

    <h2 class="menu-title mt-4">Pizzas</h2>
    <div class="row card-container">
        {% for item in pizzas %}
        <div class="col-md-6 mb-4">
            <div class="card">
                {% if item.image.url %}
                <img class="card-img-top img-fluid menu-item-image" src="{{ item.image.url }}" alt="{{ item.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <h4 class="card-price">€{{ item.price }}</h4>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No pizzas available.</p>
        {% endfor %}
    </div>

    <h2 class="menu-title mt-4">Pastas</h2>
    <div class="row card-container">
        {% for item in pastas %}
        <div class="col-md-6 mb-4">
            <div class="card">
                {% if item.image.url %}
                <img class="card-img-top img-fluid menu-item-image" src="{{ item.image.url }}" alt="{{ item.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <h4 class="card-price">€{{ item.price }}</h4>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No pastas available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
