{% extends 'base.html' %}
{% block extra_title %} Menu {% endblock %}
{% block content %}
<div class="container">
    <h2 class="text-center mt-5">Menu</h2>

    <h2 class="mt-4">Starters</h2>
    <ul class="list-group">
        {% for item in starters %}
        {% cycle 'row1' 'row2' as rowcolors silent %}
            <li class="list-group-item {{ rowcolors }}">
                <div class="row">
                    {% if rowcolors == 'row1' %}
                    <div class="col-md-6">
                        <img src="{{ item.image.url }}" class="menu-item-image img-fluid rounded mb-3 mb-md-0" alt="{{ item.name }}">
                    </div>
                    <div class="col-md-6">
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.description }}</p>
                        <p><strong>Price:</strong> {{ item.price }}</p>
                    </div>
                    {% else %}
                    <div class="col-md-6 order-md-2">
                        <img src="{{ item.image.url }}" class="menu-item-image img-fluid rounded mb-3 mb-md-0" alt="{{ item.name }}">
                    </div>
                    <div class="col-md-6">
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.description }}</p>
                        <p><strong>Price:</strong> {{ item.price }}</p>
                    </div>
                    {% endif %}
                </div>
                <hr>
            </li>
        {% empty %}
            <li class="list-group-item">No starters available.</li>
        {% endfor %}
    </ul>


    <h2 class="mt-4">Pizzas</h2>
    <ul class="list-group">
        {% for item in pizzas %}
        {% cycle 'row1' 'row2' as rowcolors silent %}
            <li class="list-group-item {{ rowcolors }}">
                <div class="row">
                    {% if rowcolors == 'row1' %}
                    <div class="col-md-6">
                        <img src="{{ item.image.url }}" class="menu-item-image img-fluid rounded mb-3 mb-md-0" alt="{{ item.name }}">
                    </div>
                    <div class="col-md-6">
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.description }}</p>
                        <p><strong>Price:</strong> {{ item.price }}</p>
                    </div>
                    {% else %}
                    <div class="col-md-6 order-md-2">
                        <img src="{{ item.image.url }}" class="menu-item-image img-fluid rounded mb-3 mb-md-0" alt="{{ item.name }}">
                    </div>
                    <div class="col-md-6">
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.description }}</p>
                        <p><strong>Price:</strong> {{ item.price }}</p>
                    </div>
                    {% endif %}
                </div>
                <hr>
            </li>
        {% empty %}
            <li class="list-group-item">No starters available.</li>
        {% endfor %}
    </ul>
    <h2 class="mt-4">Pastas</h2>
    <ul class="list-group">
        {% for item in pastas %}
        {% cycle 'row1' 'row2' as rowcolors silent %}
            <li class="list-group-item {{ rowcolors }}">
                <div class="row">
                    {% if rowcolors == 'row1' %}
                    <div class="col-md-6">
                        <img src="{{ item.image.url }}" class="menu-item-image img-fluid rounded mb-3 mb-md-0" alt="{{ item.name }}">
                    </div>
                    <div class="col-md-6">
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.description }}</p>
                        <p><strong>Price:</strong> {{ item.price }}</p>
                    </div>
                    {% else %}
                    <div class="col-md-6 order-md-2">
                        <img src="{{ item.image.url }}" class="menu-item-image img-fluid rounded mb-3 mb-md-0" alt="{{ item.name }}">
                    </div>
                    <div class="col-md-6">
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.description }}</p>
                        <p><strong>Price:</strong> {{ item.price }}</p>
                    </div>
                    {% endif %}
                </div>
                <hr>
            </li>
        {% empty %}
            <li class="list-group-item">No starters available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
