{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile
{% endblock title %}
{% block content %}
    <div class="center-div">
        <h2>Your Profile</h2>
        <p>Welcome, {{ request.user.username }}!</p>
        <h3>Your Bookings:</h3>
        {% if bookings %}
            <div class="row">
            {% for booking in bookings %}
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Booking Details</h5>
                            <p class="card-text">
                                Date: {{ booking.date }} <br/>
                                Time: {{ booking.time }} <br/>
                                Guests: {{ booking.guests }} <br/>
                                Tables: 
                                {% for table in booking.tables.all %}
                                    {{ table.table_number }} 
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>You have no bookings yet.</p>
        {% endif %}
    </div>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/new_styles.css' %}">
{% endblock %}
