{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/italian-countryside_ni06vu')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/logo_s1zalf" alt="..." />
        <h1 class="text-white fs-3 fw-bolder">Italian Restaurant</h1>
        <p class="text-white-50 mb-0">A little taste of Italy</p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>'Buongiorno!'</h2>
                <p class="lead">"In the heart of Little Italy, nestled among the winding streets of Co. Tipperary, you'll find a taste of the Mediterranean on Saracens Street. DeAngelo's, our family-owned restaurant, has been serving the community since the 1980s, 
                    offering a unique blend of Italian tradition and Irish hospitality.</p>
                <p class="mb-0">The story of DeAngelo's began over three decades ago, when our family, 
                    inspired by our rich Italian heritage and love for fine food, decided to bring a piece of Italy to Ireland. Our grandparents, rooted in the culinary arts and passionate about authentic Italian cuisine, founded DeAngelo's with a simple philosophy - to serve food that speaks to the heart, crafted with love and authenticity.</p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/restaurant-scene_iiofcw')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>5/6 Saracens Street, Little Italy.</h2>
                <p class="lead">As we continue our journey, we remain committed to offering a dining experience steeped in tradition and warmth. At DeAngelo's, you're more than just a customer - you're part of our family. We invite you to join us for a meal, 
                    share our story, and create unforgettable memories with us."</p>
                <p class="mb-0"><i class="fas fa-phone"></i> 052 61 82321</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}